{% extends ':camerino:layout.html.twig' %}

{% block content %}
    <div class="dress-detail" ng-controller="DettaglioController as dettaglio">
        <a class="back-button" href="{{ path('app_camerino_index') }}">Indietro</a>
        <i class="fa fa-circle-o-notch fa-spin loader" ng-show="!dettaglio.angularLoaded" style="position: absolute; left: 50%; top: 50%;"></i>
        <div class="detail-wrapper hide" remove-class="hide">
            <section class="detail-container">
                <div class="dress-card pull-left">
                    <div class="dress-container">
                        <img class="dress-image" src="{{ path_immagine }}">
                        <div class="dress-head">
                            <div class="dress-brand pull-left">Alpha Studio</div>
                            <div class="dress-price pull-right">€ {{ articolo.prezzo }}</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="dress-description">{{ articolo.prodotto.nome }}</div>
                    </div>
                </div>
                <div class="actions-container">
                    <i class="fa fa-circle-o-notch fa-spin loader" ng-show="dettaglio.loading"></i>
                    <div class="actions-wrapper" ng-show="!dettaglio.richiesta && !dettaglio.loading">
                        <div class="action col-sm-6">
                            <div class="description">Cambia taglie</div>
                            {% verbatim %}
                            <ol id="dynamic-options" class="nya-bs-select custom-select" ng-model="dettaglio.taglia">
                                <li nya-bs-option="option in dettaglio.options.sizes">
                                    <a>{{ option }}</a>
                                </li>
                            </ol>
                            {% endverbatim %}
                        </div>
                        <div class="action col-sm-6">
                            <div class="description">Cambia colore</div>
                            {% verbatim %}
                            <ol id="dynamic-options" class="nya-bs-select custom-select" ng-model="dettaglio.colore">
                                <li nya-bs-option="option in dettaglio.options.colors">
                                    <a>{{ option.colore }}</a>
                                </li>
                            </ol>
                            {% endverbatim %}
                        </div>
                        <div ng-click="dettaglio.toggleRichiesta()" class="btn-dl-material orange"
                             style="margin-top: 100px; width: 100%;">Richiedi questo
                        </div>
                    </div>
                    <div class="richiesta-wrapper" ng-show="dettaglio.richiesta && !dettaglio.loading">
                        <div class="richiesta-detail">
                            <div class="waiting">In attesa dell'arrivo di un commesso</div>
                            <div class="commesso">
                                <div class="commesso-picture"
                                     style="background-image: url('{{ asset('assets/images/commesso-profile.png') }}')"></div>
                                <div class="commesso-name">Francesco Rossi</div>
                                <div class="commesso-message">
                                    Taglia trovata, sto arrivando!
                                </div>
                                <button class="btn btn-lg btn-dl-orange annulla-button" ng-click="dettaglio.toggleRichiesta()">Annulla richiesta</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <div class="divider grey" style="margin-top: 30px"></div>
            <section class="suggerimenti" ng-show="!dettaglio.richiesta">
                <header>
                    <div class="title">Suggerimenti</div>
                    <div class="description">Ecco alcuni suggerimenti basati sugli acquisti di altri clienti</div>
                </header>
                <div class="suggerimenti-container">
                    {% for art in vendutiInsieme %}
                        <div class="dress-card-wrapper">
                            <div class="dress-card">
                                <div class="dress-container">
                                    <img class="dress-image" src="{{ path_insieme[art.id] }}">
                                    <div class="dress-head">
                                        <div class="dress-brand pull-left">Alpha Studio</div>
                                        <div class="dress-price pull-right">€ {{ art.prezzo }}</div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="dress-description">{{ art.prodotto.nome }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}