<div class="dress-card">
    <div class="dress-container">
        {% verbatim %}
        <div class="dress-image" style="width: 100%; height: 344px;background: url('data:image/jpg;base64,{{ image }}') no-repeat;background-size: contain;"></div>
        <div class="dress-head">
            <div class="dress-brand pull-left">Alpha Studio</div>
            <div class="dress-price pull-right">€ {{ price }}</div>
            <div class="clearfix"></div>
        </div>
        <div class="dress-description">{{ description }}</div>
        <div class="dress-size">Taglia: {{ size }}</div>
        <div class="dress-color">Colore: <span class="color" style="background-color: {{ color }}"></span></div>
        {% endverbatim %}
    </div>
    <div class="dress-help">Clicca per maggiori dettagli</div>
</div>